*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}


.titleweb {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}


.cell.x,
.cell.y {
  cursor: not-allowed;
}

.cell.x {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-image: url('../image/player.png');
}

.cell.y {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-image: url('../image/opponent.png');
}



.cell.x,
.board.x .cell:not(.x):not(.y):hover {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-image: url('../image/player.png');
}

.cell.y,
.board.y .cell:not(.x):not(.y):hover {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-image: url('../image/opponent.png');
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(139, 135, 135, 0.9);
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}